body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between; /* Distribute items evenly along the main axis */
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover {
    background-color: lightblue;
}

.logo {
    height: 40px;
    width: auto;
}

.cart-container {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}


.cart-container h2 {
    text-align: center;
}

.cart-items {
    list-style-type: none;
    padding: 0;
}

.cart-items li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ffffff;
}

.cart-total {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
}

.clear-cart {
    display: block;
    margin: 10px auto;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Add z-index to make sure */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo {
    height: 40px;
    width: auto;
}

.cart-container {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
}

